body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #3498db; /* Color de fondo azul */
    padding: 2rem;
}

.container-selector{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.container-selector button {
    width: 2rem;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px); /* 3 columnas de 100px cada una */
    grid-template-rows: repeat(3, 100px); /* 3 filas de 100px cada una */
    gap: 2px; /* Espacio entre las celdas */
    background-color: white; /* Color de fondo del tablero */
    padding: 10px; /* Espacio interno del tablero */
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    margin: 1rem;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #3498db; /* Borde azul */
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}

.cell:hover {
  background-color: #3498db;
  box-shadow: 0 0 5px #0653f8;
}